.casestudy h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 15vw, 0, 3vw, 0;
  margin-top: 5vw;
}

.casestudy h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0, 0, 3vw, 0;
}

.casestudy h3 {
  margin: 0, 0, 1vw, 0;
}

.casestudy h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0, 0, 3vw, 0;
}

.casestudy p {
  color: black;
}

.casestudy img {
  margin: 10px auto 20px;
  display: block;
  width: 80%;
  height: auto;
}

.casestudy .container {
  position: relative;
  text-align: center;
  padding: 20px 0;
  width: 420px;
  height: 160px;
  margin-bottom: 12vh;
}

.casestudy .container span {
  display: inline-block;
  padding: 2px 6px;
  background-color: #78ccd2;
  color: #186c72;
  border-radius: 4px;
  margin: 3px;
  cursor: default;
}

.casestudy .container span::before {
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100%;
  content: attr(data-title);
  color: #666;

  opacity: 0;

  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.casestudy .container span:hover::before {
  opacity: 1;
}

.casestudy .results img {
  margin-bottom: 1.5vw;
}

.casestudy .sub-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: #0056b3;
  margin: 2vw, 0, 3vw, 0;
  margin-top: 3vw;
  margin-bottom: 2vw;
}
